{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOTEL MANAGEMENT</title>
<link type="text/css" rel="stylesheet" href="{% static 'css/style.css'%}">

</head>
<body>
<a href="{% url 'register' %}"><font color="white">|Sign-up|</font>  </a>
<a href="{% url 'login' %}"><font color="white">|Login|</font></a>  &nbsp
<a href="{% url 'home' %}"><font color="white">HomePage|</font></a> &nbsp
<a href="{% url 'changepassword' %}"><font color="white">|Change Password|</font></a> &nbsp
{% block 'b1' %}
<h2 align="center"><font color="brown" size = "10x">HOTEL MANAGEMENT</font></h2>
{% endblock %}
<br>
<br>


